:root {
/* HSL from bg img */
--sky-blue: hsla(195, 60%, 68%, 1);
--blue-green: hsla(198, 48%, 50%, 1);
--prussian-blue: hsla(208, 84%, 17%, 1);
--prussian-blue-dark: rgb(4, 30, 52);
--columbia-blue-med: rgb(190, 223, 249);
--columbia-blue: hsla(205, 60%, 87%, 1);
--columbia-blue-light: rgb(228, 238, 245);
--cerulean: hsla(201, 60%, 42%, 1);
}

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
}

html {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 70px minmax(calc(100vh - 220px), 1fr) 50px;
    min-width: 1200px;
}

.title {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prussian-blue-dark);
    color: var(--columbia-blue-light);
    font-size: 1.4rem;
}

.nav-top {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu > button {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: var(--sky-blue);
    color: black;
    font-size: 1.4rem;
    font-weight: 700;
    border: none;
    border-left: 1px solid var(--columbia-blue);
    border-right: 1px solid var(--columbia-blue);
    /* border-bottom: 2px solid var(--columbia-blue); */
    box-shadow: 1px 1px 3px 0px var(--prussian-blue);
}

.menu > button:hover {
    transform: scaleY(1.05);
    transition: 0.2s ease;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px var(--prussian-blue);
}

.menu {
    background-color: transparent;
    z-index: 1;
    height: 0;
}

.menu.hidden ul {
    height: 0;
    opacity: 0;
    padding: 0;
    transition: all 1s ease;
    transform: translateY(0);
}

.menu ul {
    background-color: var(--columbia-blue-light);
    padding: 20px 6%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: all 0.5s ease;
    transform: translateY(0);
    box-shadow: 1px 1px 3px 0px rgb(172, 180, 188);
}

.zones ul {
    height: 300px;
}

.shops ul {
    height: 170px;
}

.activities ul {
    height: 260px;
}

.zones.hidden ul li,
.shops.hidden ul li,
.activities.hidden ul li {
    display: none;
}

.menu li {
    padding: 10px 0px;
}

.menu li.selected {
    background-color: var(--columbia-blue-med);
    cursor: pointer;
    transform: translateX(8px);
    transition: all 0.5s ease;
    margin-right: 16px;
    border-radius: 8px;
}

.menu li span {
    padding: 0px 10px;
    font-size: 1.2rem;
}

.bg-wrapper {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.bg-img {
    background-image: url('./img/ocean.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh - 220px;
    max-height: 100vh;
    position: sticky;
    width: 100%;
    top: 0;
    grid-row: 1;
    grid-column: 1;
    opacity: 0.5;
}

.content-wrapper {
    width: 100%;
    height: 400px;
    z-index: 0;
    grid-row: 1;
    grid-column: 1;
    margin-top: 100px;
    background-color: var(--columbia-blue-light);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 50px 50px;
}

.carousel-wrapper,
.img-wrapper,
.interactive-wrapper {
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    background-color: var(--columbia-blue);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-column-gap: 10px;
}

/* Bottom layer (images) */

.img-wrapper {
    z-index: 1;
}

.img-wrapper div {
    /* underneath promo div - not displayed */
    grid-area: 1 / 1 / 2 / 2;
}

.img-wrapper img {
    display: none;
}

.img-wrapper div.img-selected {
    grid-area: 1 / 2 / 2 / 3;
    overflow: hidden;
}

.img-wrapper div.img-selected img {
    display: block;
    width: 100%;
    height: 300px;
    /* max-height: 100%; */
    object-fit: cover;
    object-position: 50% 80%;
} 

.img-wrapper div.fade-in {
    grid-area: 1 / 3 / 2 / 4;
    overflow: hidden;
}

.img-wrapper div.fade-in img {
    display: block;
    width: 200%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 80%;
}


/* Mid layer (carousel) */

.carousel-wrapper {
    z-index: 2;
    background-color: transparent;
}

.carousel-wrapper .promo {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    padding: 0px 140px;
}

.carousel-wrapper .central-display {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 300px;
    background-color: transparent;
    box-shadow: 0px 5px 8px 0px gray;
    overflow: hidden;
}

.carousel-wrapper .fade-in-display {
    height: 300px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.564) 50%, var(--columbia-blue-light));
    box-shadow: -2px 2px 2px 0px rgb(173, 173, 173);
    overflow: hidden;
}


/* Top Layer - interactive */

.interactive-display {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-rows: 3fr 2fr 2fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    z-index: 3;
    /* border: 3px solid black; */
}

.interactive-display .icon {
    z-index: 3;
}

.interactive-display div.left-arrow,
.interactive-display div.right-arrow {
    width: 40px;
    height: 60px;
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    
    overflow: hidden;
}

.interactive-display div.left-arrow {
    grid-area: 2 / 1 / 3 / 2;
}

.interactive-display div.right-arrow {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: flex-end;
}

.interactive-display .left-arrow button,
.interactive-display .right-arrow button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.interactive-display .left-arrow img,
.interactive-display .right-arrow img {
    width: 90px;
    height: 90px;
}

.interactive-display .left-arrow img {
    object-position: -28px;
}
.interactive-display .right-arrow img {
    object-position: -25px;
}

/* Footer */

.footer {
    grid-area: 4 / 1 / 5 / 2;
    background-color: black;
    color: var(--columbia-blue-light);
    display: flex;
    justify-content: center;
    align-items: center;
}