:root {
/* HSL from bg img */
--sky-blue: hsla(195, 60%, 68%, 1);
--blue-green: hsla(198, 48%, 50%, 1);
--prussian-blue: hsla(208, 84%, 17%, 1);
--prussian-blue-dark: rgb(4, 30, 52);
--columbia-blue: hsla(205, 60%, 87%, 1);
--columbia-blue-light: rgb(228, 238, 245);
--cerulean: hsla(201, 60%, 42%, 1);
}

* {
    margin: 0;
    padding: 0;
    /*remove default margin/padding */
    box-sizing: border-box;
    /*change box-size to include padding and border */
}

html {
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 70px minmax(calc(100vh - 220px), 1fr) 50px;
    /* to prevent a scroll bar from appearing during group-3 btn hover effects. */
    /* Placed on body because scroll bars would be produced if placed on nav-top or group-3 > button, and btn would be cut off if placed on group-3 */
    overflow-x: hidden;
}

.title {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--prussian-blue-dark);
    color: var(--columbia-blue-light);
}

.nav-top {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* .menu {
    width: 100%;
} */

.menu > button {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
    background-color: var(--sky-blue);
    color: black;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    border-left: 1px solid var(--columbia-blue);
    border-right: 1px solid var(--columbia-blue);
    border-bottom: 2px solid var(--columbia-blue);
    box-shadow: 1px 1px 3px 0px var(--prussian-blue);
}

.menu > button:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.2s ease;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px var(--prussian-blue);
}

.menu {
    background-color: transparent;
    z-index: 1;
}

.menu.hidden ul {
    visibility: hidden;
}

.menu ul {
    background-color: var(--columbia-blue-light);
    padding: 10px 10%;
    list-style-type: none;
}

.menu li {
    margin: 5px 0px;
}

.img-wrapper {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.bg-img {
    background-image: url('./img/ocean.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh - 220px;
    max-height: 100vh;
    position: sticky;
    width: 100%;
    top: 0;
    grid-row: 1;
    grid-column: 1;
    opacity: 0.5;
}

.content-wrapper {
    width: 100%;
    z-index: 0;
    grid-row: 1;
    grid-column: 1;
    margin: 0 auto;
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
}

.footer {
    grid-area: 4 / 1 / 5 / 2;
    background-color: black;
    color: var(--columbia-blue-light);
    display: flex;
    justify-content: center;
    align-items: center;
}